@media only screen and (max-width: 768px) {
/* To remove the highlighting */
html {
    -webkit-tap-highlight-color:transparent;
}
/* Top logo portion */
    body{
        display: flex;
    }
    .brand{
        font-size: 1.8rem;
    }
    .brand img{
        width: 3.5rem;
    }
/* for the nav bar */
    .navList{
        display: none;
    }
/* Center display */
    .center-display{
        display: flex;
        flex-direction: column;
    }

/*  Song Display */
    .song{
        width: 75%;
    }
    .channel{
        width: 100%;
        height: 100%;
    }
    .song:hover{
        width: 80%;
    }
    .song-name{
        margin-top: 1.4rem;
        font-size: 1.5rem;
        z-index: -1;
    }
    
/* About Tab */
    .modal-content {
        width: 80%;
        height: 80%;
        font-size: 1rem;
    }
    .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }

/* Hiding unnecessary things */
    #time {
        display: none;
    }
    .volumeUpDown {   
        display: none;
    }
    .sunnyDayContainer {
        position: fixed;
        left: 20vw;
        z-index: 1;
        bottom: 10vh;
        display: none;
    }
    .oceanWaveContainer {
        position: fixed;
        left: 20vw;
        z-index: 1;
        bottom: 30vh;
        display: none;
    }
    .rainAudioContainer {
        left: 20vw;
        position: absolute;
        z-index: 1;
        bottom: 20vh;
        display: none;
    }
    .slider {
        opacity: 0.7;
        width: 30vw;
        cursor: pointer;
    }

/* for ham Burger icon  */
    .hamIcon {
        display: block;
        position: absolute;
        right: 1rem;
        top: 0.5rem;
        cursor: pointer;
    }
/* for the extra sound icon */
    .adjustOption {
        position: absolute;
        right: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        width: 3rem;
        border: solid 2px;
        border-radius: 50%;
        background-image: linear-gradient(to left,#614be2, rgb(70, 142, 241),#04bdce);
    }
}